<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>Aplikasi Vue #1</title>

                    <!-- Menyisipkan Vuejs dari CDN -->
                        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
                        </head>
                        <body>

                            <!-- elemen kontainer untuk aplikasi -->
                                <div id="app">
                                        {{ message }}
                                            </div>
                                                
                                                    <!-- aplikasi Vue Hello -->
                                                        <script>
                                                                var app = new Vue({
                                                                            el: "#app",
                                                                                        data: {
                                                                                                        message: "Hello World!"
                                                                                                                    }
                                                                                                                            })
                                                                                                                                </script>
                                                                                                                                </body>
                                                                                                                                </html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aplikasi Vue #1</title>

    <!-- Menyisipkan Vuejs dari CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <!-- elemen kontainer untuk aplikasi -->
    <div id="app">
        {{ message }}
    </div>
    
    <!-- aplikasi Vue Hello -->
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: "Hello World!"
            }
        })
    </script>
</body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aplikasi Vue #1</title>

    <!-- Menyisipkan Vuejs dari CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <!-- elemen kontainer untuk aplikasi -->
    <div id="app">
        {{ message }}
    </div>
    
    <!-- aplikasi Vue Hello -->
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: "Hello World!"
            }
        })
    </script>
</body>
</html>